@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Space Grotesk", sans-serif;
    background-color: #171717;
  }
  
  h2 {
    @apply text-xl md:text-4xl
  }
  
  p {
    @apply text-xl tracking-tight leading-relaxed
  }
  
  span {
    @apply text-[#0a97b0e1]
  }
  
  
  .shiny-effect {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    z-index: 1;
    background: radial-gradient(circle, rgba(19, 165, 202, 0.2), transparent 70%);
  }